/** SUMMARY **/
/* 1. ROOT
/* 2. BODY
/* 3. CONTENT
/*  3.1. HEADER
        3.1.1 header-element
        3.1.2 bamboo-logo
        3.1.3 header-element a
        3.1.4 #first-element-id

/*  
    3.2 TOP IMAGE CONTAINER 
        3.2.1 top-image-container img
        3.2.2 big-orange-dot
        3.2.3 image-title
            title-orange-word
        3.2.4 image-button-container
        3.2.5 image button
    3.3 GALLERY TOP CONTAINER
        3.3.1 gallery-top-element
        3.3.2 gallery-top-title
        3.3.3 gallery-top-text
        3.3.4 flower-photo

*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    padding: 0 !important;
    margin: 0 !important;
}


/* CONTENT */
#content {
    display: grid;
    grid-template-columns: 1600px;
}


/* Header */
.header {
    background-color: black;
    
    display: grid;
    position: absolute;

    top:0;
    left:0;
    right: 0;

    z-index: 2;

    grid-template-columns: repeat(6, auto);
    grid-template-rows: 6rem;
    column-gap: 1em;

    max-width: 100%;

    text-align: left;
    padding-right: 35%;

    padding-left: 15em;
    
}

.header-element {
    color:white;
    position: relative;

    margin: auto;

    text-align: left;
    font-size: large;

}

.bamboo-logo {
    position: absolute;
    top: 1.5em;
    left: 0.9em;
}

.header-element a {
    color: white;
    text-decoration: none;
}

.header-element a:hover {
    color: rgb(255, 115, 0);
}

#header-first-element {
    background-color: black;
    border: white 1px solid;
    color: white;


    text-align: center;
    font-size: large;
    padding: 0.5em;

    max-width: 5em;
    
        
}


.top-image-container {
    position: relative;
    width: 100%;
    

}

.top-image-container img {
    max-width: 1600px;
    max-height: 780px;
}

.big-orange-dot {
    background-color: rgb(189, 95, 8);
    position: absolute;
    left: 55rem;
    top: 7rem;

    width: 30rem;
    height: 30rem;
    z-index: 2;

    border-radius: 50%;
    
}

.image-title {
    color: white;
    width: 6em;
    top: 9rem;
    left: 55rem;

    position: absolute;
    font-size: 6rem;
    
    font-weight: 950;

    text-align: center;
    line-height: 0.9em;


    z-index: 3;    

}

.title-orange-word {
    color: rgb(255, 222, 73);
}

.image-button-container {
    position: absolute;
    top: 40em;
    left: 70em;
}


.image-button {
    

    background-color: rgb(189, 95, 8);
    color: white;

    width: 20rem;
    height: 3rem;

    font-size: large;
    padding-top: 1em;
    padding-bottom: 2em;
    
    
    border-radius: 1em;
    border: none;
}

.image-button:hover {
    background-color: rgb(255, 169, 89);
}

/** GALLERY TOP CONTAINER */
.gallery-top-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 45em 45em;
    padding-top: 6em;
    padding-bottom: 6em;
}

.gallery-top-image {
   padding-left: 11em; 

}

.gallery-top-element {
    position: relative;
    max-width: 30em;
    text-align: block;
    padding-left: 11em;
}

.gallery-top-title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
}

.gallery-top-text {
    font-weight: 300;
}

.flower-photo {
    position: absolute;
    right: 0;
    top: 1em;
}

/** GALLERY */

.gallery-container {
    position: relative;
    padding: 10%;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    row-gap: 1em;
}