/** SUMMARY **/
/* ROOT
/* BODY
/* CONTENT
/*  1. HEADER
        1.1 .header-element
        1.2 .bamboo-logo
        1.3 .header-element a
        1.4 .header-element a:hover
        1.5 .website-logo

/*  
    2 TOP IMAGE CONTAINER 
        2.1 .top-image-container img
        2.2 .top-image-big-orange-dot
        2.3 .top-image-title
                #top-image-title-orange-word
        2.4 .top-image-button-container
        2.5 .top-image-button
        2.6 .top-image-button:hover

    3 GALLERY
        3.1 .gallery-container
        3.2 .gallery-top-container
        3.3 .gallery-top-element
                .gallery-top-element-image
                .gallery-top-title
                .gallery-top-text
                .bottom-aligned
        3.4 .gallery
                .gallery-element
                    .gallery-element img
                    .gallery-text-title
                    .gallery-text-paragraph
                    .gallery-animal-food-icon
                    .gallery-animal-food-icon img
                .gallery-navbar
                    .gallery-left-button, .gallery-right-button
                    .gallery-left-button
                    .gallery-right-button
                    .gallery-left-button:hover, .gallery-right-button:hover
                .gallery-bottom-button-container
                    .gallery-bottom-button-container button
                    .gallery-bottom-button-container button:hover
                GALLERY DECORATION IMAGES
                    .gallery-decoration-top-flower
                    .gallery-decoration-palm-tree
                    .gallery-decoration-flower
    
    4 DONATE CONTAINER
        4.1 .donate
                .donate-top-text
                .donate-bigger-text
                .donate-medium-text
                .donate-smaller-text
        4.2 DONATE SLIDES
                .donate-slides-container
                .donate-slides-title
                .donate-slides-element
                .donate-slides-element p
                .donate-slides-element-image
                .donate-slides-element-image img
        4.3 DONATE SLIDES PICTURES
                #pay-img

                #hand-with-plant-img
                #stable-img
                #bottom-leaf-img
                #middle-leaf-img
                #top-leaf-img
                #dollar-sign-img

                #banana-img
                #monkey-img
                #monkey-left-eye-img
                #monkey-right-eye-img
                #monkey-smile-img
        4.4 .donate-slides-button
                .donate-slides-button:hover
        4.5 NAVIGATION ARROwS
                #left-transparent-arrow-between-slides
                #right-transparent-arrow-between-slides

    5 TESTIMONIALS
        5.1 .testimonials-container
        5.2 .testimonials-title
        5.3 TESTIMONIALS ELEMENT
                .testimonials-element-wrap
                .testimonials-element
                .testimonials-profile-info
                .testimonials-userpic
                .testimonials-username
                .testimonials-location-time
                .testimonials-feedback-text
        5.4 .testimonials-scroll-bar
                .testimonials-orange-scroll
        
        5.5 .testimonials-leave-feedback
        5.6 .testimonials-leaf-decorations
    
    6 FOOTER
        6.1 .footer-container
                .footer-content    
        6.2 .footer-website-logo
                .footer-bamboo-logo
        6.3 .footer-donate-button
        6.4 .footer-social-media-container
                .footer-social-media-logo       
                .footer-social-media-logo img
                .footer-social-media-name
        6.5 .footer-bottom-links
                .footer-bottom-links a
        6.6 .footer-designed-by
        6.7 .footer-subscribe-container
                .footer-subscribe-title
                .footer-subscribe-input input
                .footer-subscribe-button button






            


    




*/

:root {
    --content-padding: 13.5%;
    --background-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background-color: white;
    color: black;
    padding: 0 !important;
    margin: 0 !important;
}


/* CONTENT */
#content {
    display: grid;
    grid-template-columns: 1600px;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;
    max-width: 1600px;

}


/* Header */
.header {
    background-color: black;
    
    display: grid;
    position: absolute;

    top:0;
    left:0;
    right: 0;

    z-index: 1;
    font-size: medium;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 6em;
    column-gap: 1rem;

    text-align: left;
    padding-right: 35%;

    padding-left: 15em;
    
}

.header-element {
    color:white;
    position: relative;

    margin: auto;

    text-align: left;
    font-size: large;

}

.bamboo-logo {
    position: absolute;
    top: 1.5em;
    left: 0.9em;
}

.header-element a {
    color: white;
    text-decoration: none;
}

.header-element a:hover {
    color: rgb(255, 115, 0);
}

.website-logo {
    background-color: black;
    border: white 1px solid;
    color: white;


    text-align: center;
    font-size: large;
    padding: 0.5em;

    max-width: 5em;
    
        
}

/* TOP IMAGE CONTAINER */

.top-image-container {
    position: relative;
    width: 100%;
    

}

.top-image-container img {
    max-width: 1600px;
    max-height: 780px;
}

.top-image-big-orange-dot {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    position: absolute;
    left: 55em;
    top: 7em;

    width: 30em;
    height: 30em;
    z-index: 2;

    border-radius: 50%;
    
}

.top-image-title {
    color: white;
    
    width: 6em;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 6.7em;
    font-weight: bold;

    text-align: center;
    line-height: 0.75em;

    padding-left: 0.1em;
    padding-top: 0.7em;

    z-index: 2;    

}

.top-image-title-orange-word {
    color: #FFEE2E;
}

.top-image-button-container {
    position: absolute;
    top: 40em;
    left: 70em;
}


.top-image-button {
    background-image: var(--background-gradient);
    color: white;

    width: 20rem;
    height: 3rem;

    font-size: larger;
    text-transform: uppercase;

    padding-top: 1em;
    padding-bottom: 2em;
    
    border-radius: 4em;
    border: none;
}

.top-image-button:hover {
    background-color: rgb(255, 169, 89);
}



/** GALLERY */

.gallery-container {
    position: relative;

    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    padding-top: 5%;
    padding-bottom: 15%;

    
}

/** GALLERY TOP CONTAINER */
.gallery-top-container {
    position: relative;
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto;

    padding-top: 6em;
    padding-bottom: 6em;

    column-gap: 8%;
    margin-bottom: 5%;
}


.gallery-top-element {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: auto;
}

.gallery-top-element-image {
    padding-right: 0;
}

.gallery-top-title {
    font-size: 2.7em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2rem;
}

.gallery-top-text {
    font-size: 1.1em;
    font-weight: 300;
}

.bottom-aligned {
    display: flex;
    align-self: flex-end;
}


/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1em;
    row-gap: 1em;

    position: relative;
}


/** GALLERY ELEMENT */

.gallery-element {
    border:rgb(255, 115, 0) 2px solid;
    border-radius: 0.2em;
    overflow: hidden;
    position: relative;
}

.gallery-element img {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.gallery-text-title {
    text-transform: uppercase;
    padding-top: 0.2em;
    font-weight: 700;
    padding-left: 1em;
}

.gallery-text-paragraph {
    font-weight: 200;
    padding-left: 1em;
    padding-bottom: 1em;

}

.gallery-animal-food-icon {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    bottom: 0.5em;
    right: 1em;

    padding: 0;
    margin: 0;
}

.gallery-animal-food-icon img {
    width: 100%;
    height: 100%;
}

/** GALLERY NAVIGATION BUTTONS */

.gallery-navbar {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}



.gallery-left-button, .gallery-right-button {
    border-radius: 60%;
    border: none;

    background-color: rgb(255, 145, 0);
    color: white;

    width: 3em;
    height: 3em;

    text-align: center;
    font-size: 2em;
    font-weight: 100;

    position: absolute;

}


.gallery-left-button {
    left: -10%;
}

.gallery-right-button {
    right: -10%;
}

.gallery-right-button:hover, .gallery-left-button:hover {
    background-color: rgb(255, 202, 104);
}

/** GALLERY BOTTOM BUTTON */

.gallery-bottom-button-container {
    position: absolute;
    left: 40%;
    right: 40%;
    width: 20%;
}

.gallery-bottom-button-container button {
    background-color: #FE9013;
    color: white;
    
    width: 100%;

    padding: 1em;
    margin-top: 3em;

    border-radius: 2em;
    border: none;


    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.gallery-bottom-button-container button:hover {
    background-color: rgb(255, 222, 73);
}


/** GALLERY DECORATION IMAGES */
.gallery-decoration-top-flower {
    position: absolute;
    right: 0;
    top: 1em;
}


.gallery-decoration-palm-tree {
    position: absolute;
    left: 0;
    bottom: 0;
}

.gallery-decoration-palm-tree-smaller {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.gallery-decoration-flower {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* DONATE CONTAINER */


.donate-container {
    background-image: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    padding-top: 7%;
    padding-bottom: 5%;
    margin-top: -0.3em;

}

.donate {
    position: relative;
    background-color: #FDFDFF85;
    text-align: start;
    padding-top: 2em;
    padding-left: 10%;
    border-radius: 2em;
}

.donate-top-text{
    color: #FE9013;
    font-size: 3em;
    text-align: center;
    margin: auto;
    padding-right: 20%;
    padding-left: 10%;
    
}

.donate-bigger-text {
    font-weight: 400;
    font-size: 1.4em;
    padding-bottom: 1em;
}

.donate-medium-text {
    font-weight: 400;
}

.donate-smaller-text {
    padding-top: 1em;
    font-weight: 300;
    padding-right: 20%;
}


/* DONATE SLIDES */

.donate-slides-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    column-gap: 6em;
    padding-left: 2em;
    padding-right: 20%;
}

.donate-slides-title {
    padding-top: 1em;
    font-size: 2em;
    grid-column: 1/ 4;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;

}

.donate-slides-element {
    max-width: 168px;
    margin: auto;
    margin-top: 0;
}

.donate-slides-element p {
    margin-top: 2em;
}

.donate-slides-element-image {
    background-color: white;
    position: relative;
    width: 168px;
    height: 168px;

    border: tomato 1px solid;
    border-radius: 5px;
    
}

.donate-slides-element-image img {
    position: absolute;
}

/* DONATE SLIDES PICTURES */

#pay-img {
    left: 1.5em;
    top: 3em;

}


#hand-with-plant-img {
    bottom: 2em;
    left: 2.5em;
    right: 2.5em;
}

#stable-img {
    bottom: 3.3em;
    left: 4.5em;
    right: 3em;
}

#bottom-leaf-img {
    bottom: 4em;
    left: 4.9em;
}

#middle-leaf-img {
    left: 3.7em;
    bottom: 5.1em;
}

#top-leaf-img {
    left: 5em;
    bottom: 6em;
}

#dollar-sign-img {
    left: 4.6em;
    bottom: 6.8em;
}


#banana-img {
    
    left: 1.5em;
    bottom: 3em;

}

#monkey-img {

    right: 1.5em;
    bottom: 3em;

}

#monkey-left-eye-img {

    left: 4.8em;
    bottom: 6.3em;
}

#monkey-right-eye-img {


    left: 5.4em;
    bottom: 6.3em;
}

#monkey-smile-img {

    left: 5em;
    bottom: 5.6em;
}

.donate-slides-button {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: white;

    grid-column: 1/4;

    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    border-radius: 2em;
    border: none;

    padding: 1em;
    padding-right: 4em;
    padding-left: 4em;

    text-transform: uppercase;
    font-size: 1.2em;
}

.donate-slides-button:hover {
    background-image: linear-gradient(113.96deg, #fca17a 1.49%, #fdaa4c 101.44%);
}


/* NAVIGATION ARROWS */

#left-transparent-arrow-between-slides {
    position: absolute;
    left: 31.5%;
    bottom: 39%;
}

#right-transparent-arrow-between-slides {
    position: absolute;
    right: 36%;
    bottom: 39%;
}




/* TESTIMONIALS ELEMENT */

.testimonials-container {
    display: grid;
    position: relative;

    padding: 12%;
    

    grid-template-columns: auto auto auto auto;
    column-gap: 2em;
    
}

.testimonials-title {
    font-size: 2em;

    grid-column: 1 / 5;

    text-align: center;

    margin-bottom: 2em;

}

.testimonials-element-wrap {
    border-radius: 2em;
    padding: 3px;
    align-items: center;
    overflow: hidden;
    position: relative;

    width: 100%;
    

    background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}


.testimonials-element {

    position: relative;
    align-self: center;
    background-color: #F1F3F2;

    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;


    border-radius: 2em;
    overflow: hidden;

    min-width: 90%;
    min-height: 92%;

}


.testimonials-profile-info {
    position: relative;
    
}

.testimonials-userpic {
    position: absolute;
    left: 0;
}

.testimonials-username {
    position: absolute;
    
    font-weight: 400;
    font-size: 1.2em;


    left: 2.5em;
    top: 0;
}

.testimonials-location-time {
    position: absolute;

    color: rgba(189, 189, 189, 1);
    
    left: 3em;
    top: 1.2em;
}

.testimonials-feedback-text {

    margin-top: 3em;
    color: rgba(118, 116, 116, 1);
    
    overflow: hidden;

    max-height: 20em;

    
    
}

.testimonials-scroll-bar {
    grid-column: 1 / 5;
    height: 0.5em;
    margin-top: 2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2em;
    position: relative;

    border-radius: 10%;
    overflow: hidden;
    background-color: rgba(245, 247, 246, 1);
    
}

.testimonials-orange-scroll {
    background-color: rgba(254, 144, 19, 1);
    min-width: 20%;
    min-height: 100%;
    position: absolute;
    left: 0;
}

.testimonials-leave-feedback {
    position: absolute;
    bottom: 10%;
    left: 15%;

    border: none;
    border-radius: 5px;

    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2em;

    min-height: 2em;

    padding: 1em 5em;


    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
}

.testimonials-leaf-decorations {

    position: absolute;

    bottom: -8em;
    right: 0;
}

/* FOOTER */

.footer-container {
    background-color: black;
    color: white;
    position: relative;
    padding: 3em 10%;

}

.footer-content {
    position: relative;

}

.footer-website-logo {
    position: relative;
    border: white 1px solid;
    padding: 0.1em;
    font-weight: 800;
    font-size: 1.1em;
    text-align: center;
    max-width: 5em;
}

.footer-bamboo-logo {
    position: absolute;
    bottom: 0;
    left: 1em;
}


.footer-donate-button {

    border: none;
    border-radius: 5px;

    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2em;

    min-height: 2em;

    padding: 1.5em 4em;

    margin-top: 4em;

    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)   
}


.footer-social-media-container {
    display: grid;
    grid-template-columns: 2em 8em;
    column-gap: 1em;
    margin-top: 10em;
}

.footer-social-media-logo {
    position: relative;
    
    width: 2em;
    height: 2em;

    margin: 0.5em;

    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}

.footer-social-media-logo img {
    position: absolute;
    top: 0.6em;
    left: 0.5em;
}

.footer-social-media-name {

    font-weight: 900;
    padding-top: 1em;
}

.footer-bottom-links {

    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5em;

    position: absolute;

    bottom: 0;
    left: 35%;

    font-size: 1.5em;

}

.footer-bottom-links a {

    text-decoration: none;
    color: white;
}

.footer-designed-by {
    color: rgba(136, 125, 125, 0.493);
    position: absolute;

    bottom: 0;
    right: 0;
   
    max-width: 10em;

    font-size: 1.3em;
    font-weight: 50;
}

.footer-subscribe-container {
    position: absolute;
    right: 0;
    top: 0;

    display: grid;

    grid-template-columns: auto auto;

    padding: 1em;
}

.footer-subscribe-title {
    grid-column: 1 / span 2;

    font-size: 1.9em;
    font-weight: 400;
    padding-bottom: 0.5em;
    padding-left: 0;
}

.footer-subscribe-input input {
    background-color: black;
    color: white;
    font-size: 1.2em;
    padding: 0.7em;

    border: orangered 1px solid;

    max-width: 80%;
}

.footer-subscribe-button button {
    padding: 0.7em 1.5em;
    color: rgb(22, 92, 22);
    border: rgb(22, 92, 22) 1px solid;
    font-size: 1.2em;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
    #content {
        grid-template-columns: 1200px;
    }

    /* header */
    .header {
        padding-left: 1em;
        padding-right: 15em;
    }


    /* top-image */

    .top-image-container img {
        max-width: 1200px;
        max-height: 600px;
    }

    .top-image-big-orange-dot {
        width: 25em;
        height: 25em;

        left: 47%;
        top: 10%;
        z-index: 0;

    }

    .top-image-title {
        font-size: 5.5em;
        font-weight: 1000;

        padding-top: 1em;
    }

    .top-image-button-container {
        top: 31em;
        left: 43em;
    }

    .top-image-button {
        width: 15em;
        height: 2.5em;
        font-size: large;

    }

    /* gallery */

    .gallery-container {
        padding-left: 1em;
        padding-right: 2em;

        padding-bottom: 30%
    }

    .gallery-top-container {
        padding-top: 3em;
        column-gap: 2em;
    }

    .gallery-top-element-image {
        width: 500px;
        height: 408px;
        overflow: hidden;
    }

    .gallery {
        column-gap: 1.5em;
        row-gap: 8em;
    }

    .gallery-bottom-button-container {
        left: 34%;
        right: 33%;

        width: 30%;
    }

    .gallery-bottom-button-container button {
        margin-top: 5em;
        padding-bottom: 1.3em;
        font-size: 1.2em;
    }

    .gallery-left-button {
        left: 40%
    }

    .gallery-right-button {
        right: 40%;
    }

    .gallery-decoration-palm-tree {
        display: none;
    }

    .gallery-decoration-palm-tree-smaller {
        display: inherit;
    }

    /* DONATE CONTAINER */
    .donate-container {
        padding: 2em;
    }

    .donate-slides-button {
        margin-top: 4em;

        padding-left: 4em;
        padding-right: 4em;

        font-size: 1.1em;
    }

    /* Navigation arrows */
    #left-transparent-arrow-between-slides {
        bottom: 40%;
    }

    #right-transparent-arrow-between-slides {
        bottom: 40%;
    }

    /* TESTIMONIALS CONTAINER  */
    .testimonials-container {
        padding: 2em;
        padding-bottom: 15%;

        grid-template-columns: auto auto auto;
        column-gap: 3em;

    }

    #last-testimonials-element {
        display: none;
    }

    .testimonials-leave-feedback {
        left: 2em;
        padding: 1em 4em;
    }

    /* FOOTER CONTAINER */
    .footer-container {
        padding: 3em 3em;
    }

    .footer-donate-button {
        padding: 1.5em 3em;
    }

    .footer-social-media-container {
        margin-top: 5em;
    }
}